:root {
  /* COLORS */
  /* brand */
  --mb-white: white;
  --mb-gray-10: #efefef;
  --mb-gray-20: #dddddd;
  --mb-gray-30: #c0c0c0;
  --mb-gray-40: #bfbfbf;
  --mb-gray-60: #444444;
  --mb-orange-accent: #947000;

  /* functional */
  --sidebar-color: var(--mb-white);
  --paper-color: var(--mb-white);
  --surface-color: var(--mb-gray-10);
  --music-box-color: var(--mb-gray-30);
  --shadow-note-color: var(--mb-gray-20);
  --hole-color: var(--mb-gray-60);
  --link-color: var(--mb-orange-accent);
  --discrete-text: var(--mb-gray-40);

  /* FONTS */
  --main-font: 'Nunito', 'Helvetica Neue', sans-serif;

  /* LENGTHS */
  --sidebar-width: 250px;
  --controls-width: 175px;
  --hole-width: 16px;
  --paper-side-margins: 2rem;
  --music-box-height: 200px; /* the same for all music boxes */
  --music-box-distance-from-top-of-workspace: 120px;
  --playhead-distance-from-top-of-workspace: calc(var(--music-box-distance-from-top-of-workspace) + 44px);

  /* We want to end the length with "1", so
     the paper ends on the next measure line */
  --default-music-length: 1617px;

  /* Z-INDEX */
  /* -1 - 10: music box */
  --z-music-box-bottom-plate: -1;
  --z-music-box-playhead: 5;

  /* BREAKPOINTS */
  /* These aren't a thing! See https://stackoverflow.com/a/40723269/1154642
     I'm going to put them here anyway, for documentation. If I ever need
     to change one of these variables, I'll just find/replace the pixel value.
     I'll also try to keep the pixel values unique, so it's unlikely that any
     other properties will inadvertantly use them.

  --one-to-two-columns: 603px;
  --two-to-three-columns: 819px;
  */
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:  url('/fonts/nunito-v8-latin-regular.woff') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/nunito-v8-latin-700.woff') format('truetype');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--surface-color);
  font-family: var(--main-font);
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}

a {
  color: var(---link-color);
}

.title-box {
  margin: 1.25rem 0;
}
.title {
  margin: 0;
}
.alpha {
  color: var(--discrete-text);
  font-size: 12px;
  text-transform: uppercase;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  padding: 0 1.5rem;
  background: var(--sidebar-color);
  box-shadow: 0px 0px 11px -8px #444;
}

@media (max-width: 819px) { /* --two-to-three-columns */
  .sidebar {
    display: none;
  }
}

.workspace {
  margin-left: var(--sidebar-width);
  margin-right: var(--controls-width);
  width: 100%;
}

@media (max-width: 819px) { /* --two-to-three-columns */
  .workspace {
    margin-left: 0;
  }
}
@media (max-width: 603px) { /* --one-to-two-columns */
  .workspace {
    margin-right: 0;
  }
}

.equipment {
  position: relative;
  padding: 4rem 0 0 0;

  /*
   centers the paper, which
   is an inline-block element
   in order for its width to
   depend on its content.
  */
  text-align: center;
}

.music-box-kit {
  display: inline-block;
}

.fifteen-note {
  --number-of-notes: 15;
}
.music-box {
  --left-box-edge-width: 30px;
  --right-box-edge-width: 30px;
  --paper-width: calc(var(--paper-side-margins) * 2 + var(--number-of-notes) * var(--hole-width));
  --music-box-width: calc(var(--left-box-edge-width) + var(--paper-width) + var(--right-box-edge-width));
}

/* these classes inherit custom properties from the values defined above. */
.music-box__bottom-plate {
  position: fixed;
  top: var(--music-box-distance-from-top-of-workspace);
  z-index: var(--z-music-box-bottom-plate); /* positions the box underneath the paper */
  width: var(--music-box-width);
  height: var(--music-box-height);

  background-color: var(--music-box-color);
  transform: translateX(calc(-1 * var(--left-box-edge-width)));
  border-radius: 12px;
}

.music-box__playhead {
  position: fixed;
  top: var(--playhead-distance-from-top-of-workspace);
  z-index: var(--z-music-box-playhead);

  width: var(--paper-width);
  height: 1px;

  background-color: #ff8d00;
}

.paper {
  display: inline-block;
  background: var(--paper-color);
  padding: 1rem 2rem 4rem;
  box-shadow: 0px 0px 11px -8px #444;

  /* allow the paper to completely move through the box */
  margin-bottom: calc(100vh - var(--playhead-distance-from-top-of-workspace) - 1rem);
}

.song-title {
  padding: 2rem 0 2.75rem;
}

.song-title input {
  text-align: center;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid var(--mb-gray-40);
  font-size: 14px;
  width: calc((var(--number-of-notes) - 1) * var(--hole-width));
  padding-bottom: 2px;
}

.note-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  /* Stack our header above the note-lines and holes */
  z-index: 1;

  /* TODO: Add more padding around this header when it sticks. If nothing else, we could
    do it with this https://developers.google.com/web/updates/2017/09/sticky-headers */
}

.note-label {
  flex: 0 0 var(--hole-width);
  text-align: center;
}

.note-lines {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  min-height: var(--default-music-length);
}

.note-line {
  position: relative;
  width: var(--hole-width);
  background-image: url('/images/measure-lines.svg');
  background-position: 0 var(--hole-width);
}

.note-line:first-child {
  background-image: url('/images/measure-lines.svg');
  background-position: calc(var(--hole-width) / 2) var(--hole-width);
  background-repeat: repeat-y;
}

.note-line:last-child {
  background-image: url('/images/measure-lines.svg');
  background-position: right calc(var(--hole-width) / 2) top var(--hole-width);
  background-repeat: repeat-y;
}

/* The vertical line running down the center of the column */
.note-line::before {
  display: block;
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: var(--hole-width);
  bottom: 0;
  width: 1px;
  background-color: black
}

.shadow-note {
  display: none;
  width: var(--hole-width);
  height: var(--hole-width);
  border-radius: 50%;
  background-color: var(--shadow-note-color);
  cursor: pointer;

  /* prevent these notes from stacking in columns */
  position: absolute;
  top: 0;
}

.shadow-note--visible {
  display: block;
}

.hole {
  position: absolute;
  top: 0;
  width: var(--hole-width);
  height: var(--hole-width);
  border-radius: 50%;
  background-color: var(--hole-color);
  cursor: pointer;
}

.audio-disabled-message {
  display: block;
  position: fixed;
  top: 0;
  right: var(--controls-width);
  width: 156px; /* a magic number that fits our text well */
  opacity: 1;
  font-size: 12px;
  text-align: left;
  padding: 1rem;
  background: var(--surface-color);
}
.audio-disabled-message--hidden {
  display: none;
}
.audio-disabled-message--audio-enabled {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 1.2s;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--controls-width);
  margin: 1rem 0;
  padding: 1rem;
  border-left: 1px dashed var(--mb-gray-30);
  background: var(--surface-color);
}

@media (max-width: 603px) { /* --one-to-two-columns */
  .controls {
    display: none;
  }
}

.play-button {
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.speed-slider {
  display: block;
  padding-top: 1rem;
  cursor: pointer;
}
