:root {
  /* COLORS */
  /* brand */
  --mb-white: white;
  --mb-gray-10: #efefef;
  --mb-gray-20: #dddddd;
  --mb-gray-30: #c0c0c0;
  --mb-gray-40: #a9a9a9;
  --mb-gray-60: #444444;
  --mb-orange-accent: #947000;

  /* functional */
  --sidebar-color: var(--mb-white);
  --paper-color: var(--mb-white);
  --surface-color: var(--mb-gray-10);
  --music-box-color: var(--mb-gray-30);
  --shadow-note-color: var(--mb-gray-20);
  --hole-color: var(--mb-gray-60);
  --link-color: var(--mb-orange-accent);
  --discrete-text: var(--mb-gray-40);

  /* FONTS */
  --main-font: 'Nunito', 'Helvetica Neue', sans-serif;

  /* LENGTHS */
  --sidebar-width: 250px;
  --controls-width: 175px;
  --hole-width: 16px;
  --paper-side-margins: 2rem;
  --music-box-height: 200px; /* the same for all music boxes */
  --music-box-distance-from-top-of-workspace: 120px;
  --playhead-distance-from-top-of-workspace: calc(var(--music-box-distance-from-top-of-workspace) + 44px);

  /* We want to end the length with "1", so
     the paper ends on the next measure line */
  --default-music-length: 1617px;

  /* Z-INDEX */
  /* -1 - 10: music box */
  --z-music-box-bottom-plate: -1;
  --z-music-box-playhead: 5;

  /* BREAKPOINTS */
  /* These aren't a thing! See https://stackoverflow.com/a/40723269/1154642
     I'm going to put them here anyway, for documentation. If I ever need
     to change one of these variables, I'll just find/replace the pixel value.
     I'll also try to keep the pixel values unique, so it's unlikely that any
     other properties will inadvertantly use them.

  --one-to-two-columns: 603px;
  --two-to-three-columns: 819px;
  */
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:  url('/fonts/nunito-v8-latin-regular.woff') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/nunito-v8-latin-700.woff') format('truetype');
}
