# BOT
bot/node_modules
bot/.env


# SITE
site/node_modules
cert.pem
key.pem

# Ignore test files
site/cypress/videos
site/cypress/screenshots


# API
.env.dev
.env.prod
.byebug_history
.bundle
master.key
certs

# Ignore logfiles, tempfiles and postgres volume files.
api/log/*
api/tmp/*
api/pg/*
!api/log/.keep
!api/tmp/.keep


# OTHER
designs
audacity
