.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

.icon-dark-fill {
  fill: var(--icon-dark);
}

.icon-light-stroke {
  stroke-width: 2px;
  paint-order: stroke;
  /* We choose this color because it's about
     half-way between the color of the paper
     and the workspace surface. */
  stroke: var(--mb-gray-3);
}

.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}

.center {
  text-align: center;
}
