:root {
  /* COLORS */
  /* brand */
  --mb-white: white;
  --mb-offwhite: #fcfcfc;
  --mb-gray-6: #f2f2f2;
  --mb-gray-10: #efefef;
  --mb-gray-20: #dddddd;
  --mb-gray-30: #c0c0c0;
  --mb-gray-40: #a9a9a9;
  --mb-gray-50: #777777;
  --mb-gray-60: #444444;
  --mb-black: #000000;
  --mb-orange-accent: #947000;

  /* functional */
  --left-sidebar-color: var(--mb-white);
  --tabs-ui-color: var(--mb-black);
  --paper-color: var(--mb-white);
  --surface-color: var(--mb-gray-10);
  --music-box-color: var(--mb-gray-30);
  --controls-button-color: var(--mb-offwhite);
  --shadow-note-color: var(--mb-gray-20);
  --hole-color: var(--mb-gray-60);
  --link-color: var(--mb-black);
  --text-color: var(--mb-black);
  --discrete-text: var(--mb-gray-40);


  /* FONTS */
  --main-font: 'Nunito', 'Helvetica Neue', sans-serif;

  /* LENGTHS */
  --left-sidebar-width: 286px;
  --right-sidebar-width: 175px;
  --hole-width: 16px;
  --paper-side-margins: 2rem;
  --music-box-height: 200px; /* the same for all music boxes */
  --music-box-distance-from-top-of-workspace: 120px;
  --playhead-distance-from-top-of-workspace: calc(var(--music-box-distance-from-top-of-workspace) + 44px);
  --tabs-border: 1px;
  --floating-action-button-diameter: 56px;
  /*

      52   (# of quarter note bars)
    x 50px (per quarter note bar)
    ------
    2496px
      48px (space after the last bar, for the add-button preview)
    +  1px (to show the final bar)
    ------
    2545px = Total length of a black note line
             (not including the starting gap... that's dynamic and added on later)
  */
  --default-note-line-length: 2545px;

  /* Z-INDEX (page context) */
  /* -1 - 10: music box */
  --z-music-box-bottom-plate: -1;
  --z-music-box-extend-button: 2;
  --z-music-box-notes: 4;
  --z-music-box-note-header: 6;
  --z-music-box-playhead: 8;
  /* 10-100: Overlays */
  --z-controls: 10;
  --z-messages: 12;
  --z-twitter-share: 15;
  --z-audio-context-message: 16;

  /* (left-sidebar context) */
  --z-search-results: 1;

  /* OTHER */
  --number-of-notes: 15;
  --controls-border: 1px dashed var(--mb-gray-30);
  --back-to-top-scroll-position: 200px;

  /* BREAKPOINTS */
  /* These aren't a thing! See https://stackoverflow.com/a/40723269/1154642
     I'm going to put them here anyway, for documentation. If I ever need
     to change one of these variables, I'll just find/replace the pixel value.
     I'll also try to keep the pixel values unique, so it's unlikely that any
     other properties will inadvertantly use them.

  --one-to-two-columns: 720px;
  --two-to-three-columns: 900px;
  */
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:  url('/fonts/nunito-v8-latin-regular.woff') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/nunito-v8-latin-700.woff') format('truetype');
}
